/************* DL in detail panels ************/
.panel-detail dl dt {
    margin-top: 1.6em !important;
}

#cost-breakdown-detail-panel dl.dl-horizontal {
    margin-top: 1.2em;
}

dl.dl-horizontal dt {
    margin-top: 0 !important;
}

dl.dl-horizontal .dl-group {
    margin-top: 1.4em !important;
}

#login-form-container {
    margin-top: 20%;
}

#signup-panel {
    margin-top: 5%;
}

/************ Form Error Styles **************/
.errorlist li {
    list-style-type: square !important;
    color: #a94442 !important;
}

select {
    background: #434857 !important;
    border: 4px solid #434857 !important;
    color: #fff !important;
}


/**************** Panel Heading Form **************/
.panel-heading form.form-inline {
    display: inline-block;
    margin-left: 1.2em;
}

/******************* DL ********************/
dl > dt, .dt {
    font-size: 13px !important;
    color: gray;
    font-weight: normal !important;
    margin-bottom: 0.1em;
}

dl > dd, .dd {
    color: inherit;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1.2em;
}

/******************* PROGRESS BAR ****************************/
.progress {
    height: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: #434857;
}


.progress-bar-success {
    background-color: #23c6c8 !important;
}


.progress-list h3, .progress-list small {
    line-height: 1.6em;
    margin-bottom: 0.2em;
    font-weight: 500;
}

.progress-list header.progress-header {
    margin-bottom: 0.6em;
}

.progress-list small{
    line-height: 2em;
}


/***************** Yearbook Image *****************/
.yearbook-pic {
    height: 280px;
}


/***************** .header-info *******************/
.header-info {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.header-info > span.label {
    padding: 0.8em 1em 1em;
    margin-left: 0.8em;
}


/************ Event Image *********************/
.event-img {
    display: inline-block;
    border-radius: 2px;
    border: 4px solid rgba(207,210,218,0.5);
    width: 90%;
    height: auto;
}


/*************** Bootstrap Media Object *************/
.media {
    padding: 1em;
    background-color: #434857;
    border-radius: 4px;
}
.media > .media-body {
    position: relative;
    padding-left: 3em !important;
}

.media-body ul.list-inline {
    margin-top: 4.6em;
}

/************ Detail Page Headers *****************/
#detail-header {
    border-bottom:  1px solid #434857;
    margin-bottom: 1.8em;
    margin-top: 0 !important;
}

#detail-header h2 {
    color: #737373;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300 !important;
    margin-top: 0 !important;
}

#detail-header h3 {
    color: inherit;
    font-size: 1.8em;
    font-weight: 400;
    padding-bottom: 0.1em;
    text-transform: capitalize;
    margin-top: 0.4em;
}

#detail-header .btn {
    margin-top: 1em;
}

.label {
    padding: 1em 1.2em;
}

.table-borderless td {
    border: none !important;
}