{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header id="detail-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Account</h2>
            <h3>Account Details</h3>
        </div>

        <div class="col-sm-6">
            <a href="{% url 'dashboard:account-update' %}" class="pull-right btn btn-lg btn-primary"><span class="fa fa-edit"></span>&nbsp; Update Detail</a>
        </div>
    </div>
</header>

<section class="account-detail">
    <dl>
        <dt><span class="fa fa-user"></span>&nbsp; First Name</dt>
        <dd>{{ user.first_name }}</dd>

        <dt><span class="fa fa-user"></span>&nbsp; Last Name</dt>
        <dd>{{ user.last_name }}</dd>

        <dt><span class="fa fa-envelope"></span>&nbsp; Email</dt>
        <dd>{{ user.email }}</dd>

        <dt><span class="fa fa-user"></span>&nbsp; Account Type</dt>
        {% if user.profile.is_committee %}
        <dd>Committee</dd>
        {% else %}
        <dd>Student</dd>
        {% endif %}
    </dl>
    <br>
</section>

<header id="detail-header">
    <h3>Profile Picture</h3>
</header>

<section>
    <div id="profile-pic-container">
        {% if user.profile.profile_photo %}
        <img src="{{ user.profile.profile_photo.url }}" alt="Profile Photo" width="180" class="breath-up-xs img-thumbnail">
        {% else %}
        <img src="/media/defaults/default_profile_photo.jpg" alt="Profile Photo" width="180" class="breath-up-xs img-thumbnail">
        {% endif %}
    </div>
    <form action="{% url 'dashboard:change-photo' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-lg btn-primary">Update Photo</button>
    </form>
</section>

{% endblock content %}