{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header id="detail-header">
    <h2>Polls</h2>
    <h3>Delete Choice</h3>
</header>

 <dl>
   <dt><span class="fa fa-warning"></span>&nbsp; Are you sure you want to delete the following choice?</dt>
   <dd><span class="fa fa-circle-o"></span>&nbsp; {{ choice.choice_text }}</dd>
 </dl>

 <br>

 <form method="POST">
   {% csrf_token %}
   {{ form|crispy }}
   <div class="form-group">
     <button type="submit" class="btn btn-lg btn-primary">Delete</button>&nbsp;&nbsp; 
     <a href="{% url 'dashboard:poll-detail' poll.id %}" class="btn btn-danger btn-lg"> Cancel </a>
   </div>
 </form>
{% endblock content %}