{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header id="detail-header">
    <h2>Polls</h2>
    <h3>Add Choice</h3>
</header>

 <dl>
   <dt>Poll Question:</dt>
   <dd>{{ poll.poll_text }}</dd>

   <dt>Description:</dt>
   <dd>{{ poll.description }}</dd>

   <dt>Poll Deadline:</dt>
   <dd>{{ poll.end_at|date:'M d, Y' }}</dd>
 </dl>

 <div class="row">
     <div class="col-sm-6">
     <h4 class="dt">Choices:</h4>
         {% if choice_list %}
              <table class="table table-borderless table-compacted">
                  {% for choice in choice_list %}
                  <tr>
                      <td><span class="fa fa-circle-o">&nbsp; </span> <span class="dd">{{ choice.choice_text }}</span></td>
                      <td class="text-left"><a href="#"><span class="fa fa-edit"></span>&nbsp; Edit</a></td>
                  </tr>
                  {% endfor %}
              </table>
         {% else %}
         <p class="dd">(No choices are added yet)</p>
         {% endif %}
     </div>
 </div><!-- /.row -->

 <div class="row">
   <div class="col-sm-6">
     <h4 class="dt">Add Choice</h4>
     <form method="POST">
       {% csrf_token %}
       {{ form|crispy }}
       <br>
       <div class="form-group">
         <button type="submit" class="btn btn-lg btn-primary">Add</button>&nbsp;&nbsp; 
         <a href="{% url 'dashboard:poll-detail' poll.id %}" class="btn btn-danger btn-lg"> Cancel </a>
       </div>
     </form>
   </div>
 </div>
 
{% endblock content %}