{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header id="detail-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Events</h2>
            <h3>{{ event.title|title }}</h3>
        </div>

        <div class="col-sm-6">
            <button type="button" class="btn btn-lg btn-primary pull-right">Subscribe</button>
        </div>
    </div>
</header>

<section class="event-detail row">
    <div class="col-sm-6">
        <dl>
            <dt><span class="fa fa-calendar"></span>&nbsp; Event Time</dt>
            <dd>{{ event.event_datetime|date:'H:i A M d, Y' }}</dd>

            <dt><span class="fa fa-map-marker"></span>&nbsp; Venue</dt>
            <dd>Main Hall</dd>

            <dt><span class="fa fa-male"></span>&nbsp; Dress Code</dt>
            {% if event.dress_code %}
            <dd>{{ event.dress_code }}</dd>
            {% else %}
            <dd>(No dress code is specified)</dd>
            {% endif %}

            <dt><span class="fa fa-usd"></span>&nbsp; Entrance Fee</dt>
            {% if event.fee %}
            <dd>ETB {{ event.fee }}</dd>
            {% else %}
            <dd>Free</dd>
            {% endif %}

            <dt><span class="fa fa-pencil-square-o"></span>&nbsp; Description</dt>
            {% if event.description %}
            <dd class="text-justify">{{ event.description }}</dd>
            {% else %}
            <dd>(No event description)</dd>
            {% endif %}

        </dl>
    </div><!-- /.col-sm-6 -->

    <div class="col-sm-6">
        <div class="event-img-container text-right">
            {% if event.event_photo %}
            <img class="event-img" src="{{ event.event_photo.url }}" alt="{{ event.title }}" class="img-responsive">
            {% else %}
            <img class="event-img" src="/media/defaults/default_event_photo.jpg" alt="{{ event.title }}" class="img-responsive">
            {% endif %}
        </div>
    </div>
</section>

{% if program_list %}
<div class="panel panel-default breath-up-sm">
    <div class="panel-heading">
        Event Programs
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="panel-table table table-stripped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Program</th>
                    <th>Starts</th>
                    <th>Ends</th>
                </tr>
            </thead>
            <tbody>
                {% for program in program_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ program.title }}</td>
                        <td>{{ program.start_at|date:'H:i A' }}</td>
                        <td>{{ program.end_at|date:'H:i A' }}</td>
                    </tr>
                {% endfor %}
            </tbody>               
            </table>
        </div><!-- /.table-responsive -->        
    </div>
</div>
{% endif %}
{% endblock content %}