{% extends 'base.html' %}

{% block content %}
{% if event_list %}
    <div class="panel panel-default panel-lg">
        <div class="panel-heading">
            Upcoming Events
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table panel-table table-hover table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Event</th>
                            <th><span class="fa fa-calendar"></span>&nbsp; Date</th>
                            <th><span class="fa fa-map-marker"></span>&nbsp; Venue</th>
                            <th><span class="fa fa-group"></span>&nbsp; Attending</th>
                            {% if user.profile.is_committee %}
                            <th></th>
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in event_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'dashboard:event-detail' event.id %}">{{ event.title|upper }}</a></td>
                            <td>{{ event.event_datetime|date:'M d, Y' }}</td>
                            <td>{{ event.venue|title }}</td>
                            {% for subscription in subscription_list %}
                                {% if subscription.0 == event.id %}
                                <td><span class="label label-primary">{{ subscription.1 }} Students</span></td>
                                {% endif %}
                            {% endfor %}

                            {% if user.profile.is_committee %}
                            <td><a href="{% url 'dashboard:event-update' event.id %}"><span class="fa fa-edit"></span> Edit</a></td>
                            <td><a href="{% url 'dashboard:event-delete' event.id %}"><span class="fa fa-remove"></span> Delete</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}