{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header id="detail-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Events</h2>
            <h3>{{ event.title|title }}</h3>
        </div>

        <div class="col-sm-6">
            <form action="{% url 'dashboard:event-subscribe' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            {% if user.profile.is_committee %}
            <a href="{% url 'dashboard:event-delete' event.id %}" class="breath-left-sm btn btn-lg btn-danger pull-right"><span class="fa fa-edit"></span> Delete</a>
            <a href="{% url 'dashboard:event-update' event.id %}" class="breath-left-sm btn btn-lg btn-primary pull-right"><span class="fa fa-edit"></span> Edit</a>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-primary pull-right">
                {% if event_subscription %}
                <span class="fa fa-check"></span>&nbsp; Attending
                {% else %}
                Attend Event
                {% endif %}
            </button> 
            </form>
        </div>
    </div>
</header>

<section class="event-detail row">
    <div class="col-sm-6">
        <dl>
            <dt><span class="fa fa-calendar"></span>&nbsp; Event Time</dt>
            <dd>{{ event.event_datetime|date:'H:i A M d, Y' }}</dd>

            <dt><span class="fa fa-map-marker"></span>&nbsp; Venue</dt>
            <dd>{{ event.venue }}</dd>

            <dt><span class="fa fa-male"></span>&nbsp; Dress Code</dt>
            {% if event.dress_code %}
            <dd>{{ event.dress_code }}</dd>
            {% else %}
            <dd>(No dress code is specified)</dd>
            {% endif %}

            <dt><span class="fa fa-usd"></span>&nbsp; Entrance Fee</dt>
            {% if event.fee %}
            <dd>ETB {{ event.fee }}</dd>
            {% else %}
            <dd>Free</dd>
            {% endif %}

            <dt><span class="fa fa-pencil-square-o"></span>&nbsp; Description</dt>
            {% if event.description %}
            <dd class="text-justify">{{ event.description }}</dd>
            {% else %}
            <dd>(No event description)</dd>
            {% endif %}

        </dl>
    </div><!-- /.col-sm-6 -->

    <div class="col-sm-6">
        <div class="event-img-container text-right">
            {% if event.event_photo %}
            <img class="event-img" src="{{ event.event_photo.url }}" alt="{{ event.title }}" class="img-responsive">
            {% else %}
            <img class="event-img" src="/media/defaults/default_event_photo.jpg" alt="{{ event.title }}" class="img-responsive">
            {% endif %}
        </div>
    </div>
</section>

{% if user.profile.is_committee %}
<br>
<a href="{% url 'dashboard:program-create' event.id %}"><span class="fa fa-plus"></span>&nbsp; Add Program</a>
{% endif %}

{% if program_list %}
<div class="panel panel-default panel-sm breath-up-sm">
    <div class="panel-heading">
        Event Programs
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="panel-table table table-stripped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Program</th>
                    <th>Starts</th>
                    <th>Ends</th>
                    {% if user.profile.is_committee %}
                    <th></th>
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for program in program_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ program.title }}</td>
                        <td>{{ program.start_at|date:'H:i A' }}</td>
                        <td>{{ program.end_at|date:'H:i A' }}</td>
                        {% if user.profile.is_committee %}
                        <td><a href="{% url 'dashboard:program-update' event.id program.id %}"><span class="fa fa-edit"></span> Edit</a></td>
                        <td><a href="{% url 'dashboard:program-delete' event.id program.id %}"><span class="fa fa-remove"></span> Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>               
            </table>
        </div><!-- /.table-responsive -->        
    </div>
</div>
{% endif %}
{% endblock content %}