{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header id="detail-header">
    <h2>Payments</h2>
    {% if payment %}
    <h3>Update Payment</h3>
    {% else %}
    <h3>Add New Payment</h3>
    {% endif %}
</header>

<section>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
            {% if payment %}
            <button type="submit" class="btn btn-lg btn-primary"> Update </button> &nbsp; &nbsp;
            {% else %}
            <button type="submit" class="btn btn-lg btn-primary"> Add </button> &nbsp; &nbsp;
            {% endif %}
            <a href="{% url 'dashboard:payment-list' %}" class="btn btn-lg btn-danger">Cancel</a>
        </div>
    </form>
</section>
{% endblock content %}