{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2 class="detail-heading">Polls</h2>
<legend class="heading-legend">Vote Now 
  <span class="pull-right header-info">
    <span class="fa fa-calendar"></span>
      &nbsp; Deadline <span class="label label-default"> {{ poll.end_at|naturalday:'M d, Y' }}</span>
    </span>
</legend>

 <dl>
   <dt>Poll Question:</dt>
   <dd>{{ poll.poll_text }}</dd>

   <dt>Description:</dt>
   <dd>{{ poll.description }}</dd>
 </dl>

 <form method="POST">
  {% csrf_token %}
  {% for choice in poll.pollchoice_set.all %}
  <div class="form-group">
    <label>
        <input type="radio" name="choice" value="{{ choice.id }}" required="required">
        {{ choice.choice_text }} &nbsp;
    </label>
  </div>    
   
  {% endfor %}

  <div class="form-group">
    <input type="submit" value="vote" class="btn btn-primary"> &nbsp;
    <a href="{% url 'dashboard:poll-list' %}" title="Cancel voting" class="btn btn-danger">Cancel</a>
  </div>
 </form>
{% endblock content %}