{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header id="detail-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Polls</h2>
            <h3>Poll Detail</h3>
        </div>

        <div class="col-sm-6">
           <a href="{% url 'dashboard:poll-update' poll.id %}" class="btn btn-primary btn-lg pull-right">Edit Poll</a>
        </div>
    </div>
</header>

 <dl>
   <dt>Poll Question:</dt>
   <dd>{{ poll.poll_text }}</dd>

   <dt>Description:</dt>
   <dd>{{ poll.description }}</dd>

   <dt>Poll Deadline:</dt>
   <dd>{{ poll.end_at|date:'M d, Y' }}</dd>

   <dt>Publish Status:</dt>
   {% if poll.publish %}
   <dd><span class="fa fa-check-square-o"></span>&nbsp; Published</dd>
   {% else %}
   <dd><span class="fa fa-square-o"></span>&nbsp; Not Published</dd>
   {% endif %}
 </dl>

 <div class="row">
     <div class="col-sm-6">
     <h4 class="dt">Choices:</h4>
         {% if choice_list %}
              <table class="table table-borderless table-compacted">
                  {% for choice in choice_list %}
                  <tr>
                      <td><span class="fa fa-circle-o">&nbsp; </span> <span class="dd">{{ choice.choice_text }}</span></td>
                      <td class="text-left">
                         <a href="{% url 'dashboard:choice-update' choice.id %}"><span class="fa fa-edit"></span>&nbsp; Edit</a>&nbsp; 
                         <a href="{% url 'dashboard:choice-delete' choice.id %}"><span class="fa fa-remove"></span>&nbsp; Delete</a>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
         {% else %}
         <p class="dd">(No choices are added yet)</p>
         {% endif %}
         <br>
         <div>
            <a href="{% url 'dashboard:choice-create' poll.id %}"><span class="fa fa-plus"></span> Add New Choice</a> &nbsp; &nbsp;
            <a href="#" class="btn btn-primary">Vote Now</a>
         </div>
     </div>
 </div><!-- /.row -->
 
{% endblock content %}