{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header id="detail-header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Students</h2>
            <h3>Account Details</h3>
        </div>

        <div class="col-sm-6">
            {% if student.is_active %}
            <a href="{% url 'dashboard:student-deactivate' student.id %}" class="pull-right btn btn-lg btn-danger"><span class="fa fa-edit"></span>&nbsp; Deactivate</a>
            {% else %}
            <a href="{% url 'dashboard:student-activate' student.id %}" class="pull-right btn btn-lg btn-primary"><span class="fa fa-edit"></span>&nbsp; Activate</a>
            {% endif %}
        </div>
    </div>
</header>

<section class="account-detail">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt><span class="fa fa-user"></span>&nbsp; First Name</dt>
                <dd>{{ student.first_name|title }}</dd>

                <dt><span class="fa fa-user"></span>&nbsp; Last Name</dt>
                <dd>{{ student.last_name|title }}</dd>

                <dt><span class="fa fa-envelope"></span>&nbsp; Email</dt>
                <dd>{{ student.email|lower }}</dd>

                <dt><span class="fa fa-calendar"></span>&nbsp; Registered At</dt>
                <dd>{{ student.date_joined|naturalday:'M d, Y'|title }}</dd>

                <dt><span class="fa fa-calendar"></span>&nbsp; Last Login</dt>
                <dd>{{ student.last_login|naturalday:'M d, Y'|title }}</dd>

                <dt><span class="fa fa-user"></span>&nbsp; Account Type</dt>
                {% if student.profile.is_committee %}
                <dd>Committee</dd>
                {% else %}
                <dd>Student</dd>
                {% endif %}

                <dt><span class="fa fa-bell"></span>&nbsp; Account Status</dt>
                {% if student.is_active %}
                <dd><span class="text-success text-md"><span class="fa fa-check-square-o"></span> Activated</span></dd>
                {% else %}
                <dd><span class="text-danger text-md"><span class="fa fa-warning"></span> Not Activated</span></dd>
                {% endif %}
            </dl>
        </div><!-- /.col-sm-6 -->

        <div class="col-sm-6 text-center">
            <div id="profile-pic-container">
                {% if student.profile.profile_photo %}
                <img src="{{ user.profile.profile_photo.url }}" alt="Profile Photo" width="180" class="breath-up-xs img-thumbnail">
                {% else %}
                <img src="/media/defaults/default_profile_photo.jpg" alt="Profile Photo" width="180" class="breath-up-xs img-thumbnail">
                {% endif %}
            </div>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
</section>

{% endblock content %}