{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header id="detail-header">
    <h2>Polls</h2>
    <h3>Vote Now</h3>
</header>

 <dl>
   <dt>Poll Question:</dt>
   <dd>{{ poll.poll_text }}</dd>

   <dt>Description:</dt>
   <dd>{{ poll.description }}</dd>
 </dl>

 <form method="POST">
  {% csrf_token %}
  {% for choice in poll.pollchoice_set.all %}
  <div class="form-group">
    <label>
        <input type="radio" name="choice" value="{{ choice.id }}" required="required">
        {{ choice.choice_text }} &nbsp;
    </label>
  </div>    
   
  {% endfor %}

  <div class="form-group">
    <input type="submit" value="vote" class="btn btn-primary btn-lg"> &nbsp;&nbsp;
    <a href="{% url 'dashboard:poll-list' %}" title="Cancel voting" class="btn btn-danger btn-lg">Cancel</a>
  </div>
 </form>
{% endblock content %}