{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<legend>STUDENT DETAILS</legend>
<h2>Yearbook Detail</h2>
    <dl>
        <dt>First Name:</dt>
        <dd>{{ yearbook.first_name }} </dd>

        <dt>Last Name:</dt>
        <dd>{{ yearbook.last_name }} </dd>

        <dt>Nickname:</dt>
        <dd>{{ yearbook.nickname }} </dd>

        <dt>Birthday:</dt>
        <dd>{{ yearbook.birthday }} </dd>

        <dt>Abour Yourself:</dt>
        <dd>{{ yearbook.bio }} </dd>

        <dt>Your Favorite Quote:</dt>
        <dd>{{ yearbook.quote }} </dd>

        <dt>Who would you like to thank?:</dt>
        <dd>{{ yearbook.thank_you_message }} </dd>
    </dl>
{% endblock content %}